<div class="container">
    <div class="row">
        <div class="col-12 col-md-10 col-lg-9 mx-auto">
            <div class="text-center text-md-start">
                <h1 class="fw-bold text-primary">Requisições para meu Departamento</h1>
                <div>
                    <div class="d-grid d-md-block gap-2">
                        <a role="button" class="btn btn-outline-primary col-md-2" routerLink="/painel"><i
                                class="pi pi-sign-out me-2">Voltar</i></a>
                    </div>
                </div>
            </div>
            <div class="mt-3">
                <table class="table table-light table-striped table-hover">
                    <thead class="thead-dark text-center">
                        <tr>
                            <th>Abertura</th>
                            <th>Ultima atualização</th>
                            <th>Departamento</th>
                            <th>descrição</th>
                            <th>Status</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr *ngFor="let requisicao of (requisicoes$) | async">
                            <td>{{requisicao.data.toDate() | date: 'dd/MM/yyyy HH:mm'}}</td>
                            <td>{{requisicao.ultimaAtualizacao.toDate() | date: 'dd/MM/yyyy HH:mm'}}</td>
                            <td>{{requisicao.departamento?.nome}}</td>
                            <td>{{requisicao.descricao}}</td>
                            <td>{{requisicao.status}}</td>
                            <td class="d-grid d-md-block">
                                <button (click)="gravar(modal, requisicao)" type="button"
                                    class="btn btn-primary me-0 me-md-1 mb-1 mb-md-auto"><i
                                        class="pi pi-check-square"></i></button>
                                <button [routerLink]="['/requisicoes', requisicao.id]" type="button" class="btn btn-outline-primary me-0 me-md-1 mb-1 mb-md-auto"><i
                                        class="pi pi-info-circle"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<ng-template #modal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Movimentação de requisições</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('fechar')"></button>
    </div>
    <form [formGroup]="form" (ngSubmit)="modal.close('gravar')">
        <div class="modal-body">
            <div class="mb-3 form-group>">
                <div class="mb-3 form-group position-relative">
                    <label for="funcionario" class="form-label">Funcionário solicitante</label>
                    <p class="text-primary fw-semibold">{{funcionarioLogado.nome}}</p>
                </div>
                <div class="form-group mb-3 position-relative">
                    <label for="equipamentoId" class="form-label">Equipamentos</label>
                    <p class="fw-semibold">{{requisicaoSelecionada.equipamento? requisicaoSelecionada.equipamento?.nome: 'Não informado'}}</p>
                </div>
                <div class="form-group mb-3 position-relative">
                    <label for="nome" class="form-label">Descrição da solicitação</label>
                    <p class="fw-semibold">{{requisicaoSelecionada.descricao}}</p>
                </div>
                <div class="mb-3 form-group position-relative">
                    <label for="status" class="form-label">Status</label>
                    <ng-select [clearable]="false" [searchable]="false" formControlName="status" placeholder="Status da requisição" [items]="listaStatus">
                    </ng-select>
                </div>
                <div class="form-group mb-3 position-relative">
                    <label for="nome" class="form-label">Descrição da Movimentação</label>
                    <textarea formControlName="descricao" class="form-control" type="text" placeholder="Digite a descrição da atualização"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary col-mt-3"
                (click)="modal.dismiss('fechar')">Cancelar</button>
            <button type="submit" class="btn btn-primary col-mt-3" [disabled]="this.form.invalid">Salvar</button>
        </div>
    </form>
</ng-template>
