<div class="container">
    <div class="row">
        <div class="col-12 col-md-10 col-lg-9 mx-auto">
            <div class="text-center text-md-start">
                <h1 class="fw-bold text-primary">Minhas requsições</h1>
                <div>
                    <div class="d-grid d-md-block gap-2">
                        <button (click)="gravar(modal)" type="button" class="btn btn-primary me-md-1 col-md-2"><i
                                class="pi pi-tag me-2"> Novo</i></button>
                        <a role="button" class="btn btn-outline-primary col-md-2" routerLink="/painel"><i
                                class="pi pi-sign-out me-2">Voltar</i></a>
                    </div>
                </div>
            </div>
            <div class="mt-3">
                <table class="table table-light table-striped table-hover">
                    <thead class="thead-dark text-center">
                        <tr>
                            <th>Abertura</th>
                            <th>Departamento</th>
                            <th>descrição</th>
                            <th>Equipamento</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr *ngFor="let requisicao of (requisicoes$) | async">
                            <td>{{requisicao.data.toDate() | date: 'dd/MM/yyyy HH:mm'}}</td>
                            <td>{{requisicao.departamento?.nome}}</td>
                            <td>{{requisicao.descricao}}</td>
                            <td>{{requisicao.equipamento?requisicao.equipamento.nome : 'Não selecionado'}}</td>
                            <td class="d-grid d-md-block">
                                <button (click)="gravar(modal, requisicao)" type="button"
                                    class="btn btn-primary me-0 me-md-1 mb-1 mb-md-auto"><i
                                        class="pi pi-pencil"></i></button>
                                <button (click)="remover(requisicao)" type="button" class="btn btn-outline-danger"><i
                                        class="pi pi-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<ng-template #modal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{tituloModal}} de requisições</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('fechar')"></button>
    </div>
    <form [formGroup]="form" (ngSubmit)="modal.close('gravar')">
        <div class="modal-body">
            <div class="mb-3 form-group>">
                <div class="mb-3 form-group position-relative">
                    <label for="descricao" class="form-label">Descrição</label>
                    <textarea formControlName="descricao" class="form-control" type="text"
                        placeholder="Digite a descrição da requisição"
                        [ngClass]="(descricao?.touched && descricao?.invalid) ? 'is-invalid' : ''"></textarea>
                    <div *ngIf="descricao?.touched && descricao?.invalid" class="invalid-tooltip">
                        <span *ngIf="descricao?.errors?.['required']">O campo descrição não deve ficar vázio!</span>
                        <span *ngIf="descricao?.errors?.['minlength']">O campo descrição deve possuir mais de três
                            letras!</span>
                    </div>
                </div>
                <div class="mb-3 form-group position-relative">
                    <label for="departamentoId" class="form-label">Departamento</label>
                    <ng-select [clearable]="false" [searchable]="false" formControlName="departamentoId"
                        [ngClass]="(departamentoId?.touched && departamentoId?.invalid) ? 'is-invalid' : ''">
                        <ng-option *ngFor="let departamento of departamentos$ | async" [value]="departamento.id">
                            {{departamento.nome}}
                        </ng-option>
                    </ng-select>
                    <div *ngIf="departamentoId?.touched && departamentoId?.invalid" class="invalid-tooltip">
                        <span *ngIf="departamentoId?.errors?.['required']">O campo departamento não deve ficar
                            vázio!</span>
                    </div>
                </div>
                <div class="mb-3 form-group position-relative">
                    <label for="equipamentoId" class="form-label">Equipamento (Opcional)</label>
                    <ng-select [clearable]="false" [searchable]="false" formControlName="equipamentoId">
                        <ng-option *ngFor="let equipamento of (equipamentos$ | async)" [value]="equipamento.id">
                            {{equipamento.nome}}
                        </ng-option>
                    </ng-select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary col-mt-3"
                (click)="modal.dismiss('fechar')">Cancelar</button>
            <button type="submit" class="btn btn-primary col-mt-3" [disabled]="this.form.invalid">Salvar</button>
        </div>
    </form>
</ng-template>
